langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-core
langchain-groq
langchain-google-genai
langchain-openrouter
pydantic
pydantic-settings
httpx
beautifulsoup4
openai
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
faiss-cpu
python-dotenv
streamlit>=1.40,<2
# -e .
